.label {
    -fx-text-fill: #f1f1f1;
    -fx-font-size: 11px;
}

#timerLabel {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-radius: 6px;
    -fx-padding: 4px 8px;
    -fx-background-radius: 6px;
}

#timerLabel:hover {
    -fx-border-color: #58b0a7;
    -fx-background-color: #2e3236;
}
