.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-pref-width: 6;
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #3a3c41;
    -fx-background-radius: 3px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #58b0a7;
}
